.signinPage {
    background: url('./public/Images/back-ground.jpeg');
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(11, 11, 11, 0.5)), url('./public/Images/back-ground.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.signinForm {
    background-color: rgb(1, 93, 32, 0.6);
    color: #000;
}
